body {
  background: #da1c1c;
}

#root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.conteudoLateralDireita,
.conteudoLateralEsquerda,
.conteudoCentral {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.conteudoLateralEsquerda {
  display: flex;
  width: 17vw;
  background: #fafafa;
}

.conteudoLateralEsquerda .logo{
  background: #ff2828;
}

.conteudoLateralDireita {
  background: blue;
  width:20vw;
}

.conteudoCentral {
  width:65vw;
  background: rgb(235, 224, 206);
}

.conteudoLateralEsquerda ul{
  
}